.inventory {
 color: green;
}

.prices {
 color: red;
}

.about {
  color: blue;
  font-weight: bold;
}

.highlight {
  color: yellow;
}

img {
  float: right;
  width: 50%;
}

.column {
  width: 300px;
  float: right;
}
