img {
  float:  none;
  width: 30%;
  padding: 12px;
}

.sidebar {
  float:  left;
}

.inventory {
 color: green;
}

.prices {
 color: red;
}

.about {
  color: blue;
  font-weight: bold;
}

.highlight {
  color: yellow;
  background-color: blue;
}

.column {
  width: 300px;
  float: right;
  background-color: pink;
  border: 3px solid purple;
  padding: 12px;
  margin: 12px;
}
